body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}


.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1.25rem 0;
    font-size: 2.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.createWrapper {
    display: flex;
    margin: 1rem;

    @media screen and (max-width:768px) {
        justify-content: center;
    }
}

.createWrapper__create {
    background-color: #28a745;
    padding: 0.6rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    transition: background-color .4s;
    border: 2px solid black;
}

.createWrapper__create:hover {
    background-color: #2fbb50;

}

.tableWrapper {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    border: 1px solid #000000;
    border-radius: 1rem;
    margin: 3rem;
    font-family: Arial, Helvetica, sans-serif;

    @media screen and (max-width:768px) {
        margin: 1rem;
    }

}

.tableWrapper__workerTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;

    th,
    td {
        padding: 1rem;
        text-align: center;
        border: 1px solid black;

    }



}


.tableWrapper__head {

    background-color: #BBE4E9;
    font-size: 1.3rem;
}

.tableWrapper__role {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.tableWrapper__role--user {
    background-color: #53de4477;
}

.tableWrapper__role--admin {
    background-color: #ebdb2568;
}

.tableWrapper__role--supervisor {
    background-color: #e9373774;
}


.tableWrapper__name {
    cursor: pointer;
    color: #0246f4;
    text-decoration: underline;
    transition: color .2s;
}

.tableWrapper__name:hover {
    color: #386ef9;

}

.tableWrapper__editButton{
    background-color: #294eac;
    color: white;
    padding: 0.6rem 1.5rem;
    border: 2px solid black;
    border-radius: 1rem ;
    text-decoration: none;
    transition: background-color 0.3s;
}

.tableWrapper__editButton:hover{

    background-color: #3f75ff;

}


//End of table css





//Start of card
.laborer__card {

    display: flex;
    align-items: center;
    border: .125rem solid black;
    width: auto;
    gap: 1.5rem;
    flex-wrap: wrap;
    border-radius: .5rem;
    padding: 2rem;
    background-color: rgba(176, 224, 230, 0.862);
    box-shadow: 1rem 1.6rem .3125rem black;

    @media screen and (max-width:768px) {
        justify-content: center;
        padding: 1rem 0;
        box-shadow: none;
    }

}

.laborer {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.laborer__laborerDetailGroup {
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    flex-direction: column;
}

.laborer__detailsTitle {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: underline;
}

.button {
    background-color: #dd0000;
    color: white;
    padding: .625rem 1.5rem;
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 1rem;

    @media screen and (max-width: 768px) {
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;

    }

}

.button:hover {
    background-color: #f67575;
}

.button:focus {
    outline: 3px solid #ffaaaa;
    outline-offset: 2px;
}


.tag {
    padding: .3rem .6rem;
    border-radius: 1rem;
}




.laborer__imageWrapper {
    margin: 1rem;

    @media screen and (max-width:768px) {
        width: 100%;
    }
}


.laborer__image {

    height: 18.75rem;
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

//End of card




//Start of create laborer


.newLaborer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.newLaborer__formGroup {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    display: flex;
    @media screen and (max-width: 768px) {
    flex-direction: column  ;
        
    }
}


.newLaborer__formGroup label {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem 0 0;
        @media screen and (max-width: 768px) {
       margin: 0 1rem 1.5rem 0; 
    }
}

.newLaborer__formGroup input {
    border: 1px solid black;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
}

.newLaborer__formGroup select {
    border: 1px solid black;
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    font-family: inherit;
}

.newLaborer__formWrapper {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: #000000 0.8rem 0.8rem 0.5rem;



}


.newLaborer__submitWrapper{
    display: flex;
    justify-content: space-between  ;
}



.newLaborer__create {

  background-color: rgb(3, 209, 3);
  padding: 0.8em 1.5em;
  border-radius: 0.5rem;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  display: inline-block; 
  text-decoration: none; 
  color: white;

}

.newLaborer__create--back {
  background-color: rgb(209, 3, 3);
  padding: 0.6rem 1.5em;
  display: inline-block; 
  text-decoration: none; 
}

